main {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 00;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-img {
    width: 100%;
    /* margin-bottom: 0%; */
    height: 300px;
    object-fit: cover;
    object-position: 50% 60%;
}

.about-text-div {
    margin: 0 10%;
}

main p {
    font-size: 22px;
    font-weight: 200;
    color: #1a2138;
    margin-bottom: 10%;
}

#about {
    background-color: #ff0077;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.about-div {
    width: 100%;
}